<xf:form action="{$submitUrl}" class="block" ajax="true" data-skip-overlay-redirect="false">
	<div class="block-container">
		<div class="block-body">
			<!-- <xf:textarearow name="comment" autosize="false" autofocus="autofocus" explain="Enter your message and click Submit" /> -->
            <!-- <xf:textarea 
                name="comment" 
                autosize="true" 
                rows="1" 
                maxlength="255"
                class="{{ $style == 'full' ? 'input--avatarSizeS' : '' }} js-editor"
                data-xf-init="focus-trigger user-mentioner emoji-completer"
                data-display="< :next" aria-labelledby="ctrl_message"
                placeholder="write something interesting" /> -->
                <div class="message-editorWrapper">
                    <div class="editorPlaceholder" data-xf-click="editor-placeholder">
                        <div class="editorPlaceholder-editor is-hidden">
                            <xf:editor name="comment"
                                data-min-height="40"
                                placeholder=" write something interesting"
                                previewable="0"
                                data-deferred="on" />

                            <div class="u-inputSpacer">
                                <xf:button type="submit" class="button--primary" icon="reply">Submit</xf:button>
                            </div>
                        </div>
                        <div class="editorPlaceholder-placeholder">
                            <div class="input"><span class="u-muted"> write something interesting</span></div>
                        </div>
                    </div>
                </div>
		</div>
		<!-- <xf:submitrow submit="Submit" data-ajax-redirect="1" /> -->
	</div>
	<xf:redirect />
</xf:form>

<xf:if is="$feedEntries is not empty">
    <xf:foreach loop="$feedEntries" value="$feedEntry">
        <xf:macro name="entry_block"
            arg-entry="{$feedEntry}"
            arg-user="{$feedEntry.User}"
        />
    </xf:foreach>
<xf:else />
    <div class="blockMessage">The feed is empty!</div>
</xf:if>

<xf:macro name="entry_block" arg-entry="!" arg-user="!" >
    <!-- <xf:css src="message.less" /> -->
    <div class="block-container">
		<div class="message-avatar {{ ($xf.options.showMessageOnlineStatus && $user && $user.isOnline()) ? 'message-avatar--online' : '' }}">
			<div class="message-avatar-wrapper">
				<xf:avatar user="$user" size="m" defaultname="{$fallbackName}" itemprop="image" />
				<xf:if is="$xf.options.showMessageOnlineStatus && $user && $user.isOnline()">
					<span class="message-avatar-online" tabindex="0" data-xf-init="tooltip" data-trigger="auto" title="{{ phrase('online_now')|for_attr }}"></span>
				</xf:if>
			</div>
		</div>

        <div class="message-userDetails">
			<h4 class="message-name">
                <xf:if is="$user.username">
                    <xf:username user="$user" rich="true" defaultname="{$fallbackName}" itemprop="name" />
                <xf:else />
                    {{ phrase('guest') }}
                </xf:if>
            </h4>

            <div class="block-body">
                <blockquote>{$entry.comment}</blockquote>
            </div>
		</div>
    </div>
</xf:macro>
