<xf:page option="template">FEED_CONTAINER</xf:page>

<xf:css src="feed.less" />

<xf:form action="{$submitUrl}" class="block" ajax="true" data-skip-overlay-redirect="false">
    <div class="feed-entry-container">
        <div class="block-body">
            <xf:macro template="quick_reply_macros" name="body"
                arg-placeholder="What's happening?"
                arg-minHeight="20"
                arg-showPreviewButton="{{ false }}"
                arg-simple="{{ true }}"
                arg-deferred="{{ true }}"
                arg-simpleSubmit="{{ true }}"
                arg-submitText="AMB It!" />
        </div>
    </div>
</xf:form>

<xf:if is="$feedEntries is not empty">
    <xf:foreach loop="$feedEntries" value="$feedEntry">
        <xf:macro name="entry_block2"
            arg-entry="{$feedEntry}"
            arg-user="{$feedEntry.User}"
        />
    </xf:foreach>
<xf:else />
    <div class="blockMessage">The feed is empty!</div>
</xf:if>


<xf:macro name="entry_block2" arg-entry="!" arg-user="!">
    <div class="feed-entry-container">
        <div class="message-inner">
            <div class="message-cell message-cell--user">
                <header itemscope itemtype="https://schema.org/Person" class="message-user">
                    <meta itemprop="name" content="{{ $user.username ?: 'Guest' }}">
                    <div class="message-avatar">
                        <div class="message-avatar-wrapper">
                            <xf:avatar user="$user" size="s" defaultname="{$user.username}" itemprop="image" />
                        </div>
                    </div>
                    <span class="message-userArrow"></span>
                </header>
            </div>

            <div class="message-cell message-cell--main">
                <div class="message-main js-quickEditTarget">
                    <div class="message-content js-messageContent">

                        <header class="message-attribution message-attribution--plain">
                            <ul class="listInline listInline--bullet">
                                <li class="message-attribution-user">
                                    <xf:avatar user="$user" size="xxs" />
                                    <h4 class="attribution">
                                        <xf:username user="$user" rich="true" />
                                    </h4>
                                </li>
                                <li>
                                    <a href="{{ link('profile-posts', $profilePost) }}" class="u-concealed" rel="nofollow"><xf:date time="$entry.date" /></a>
                                </li>
                            </ul>
                        </header>

                        <article class="message-body" style="padding-bottom:5px;">
                           {{ bb_code($entry.comment, 'lulzapps_feed_entry', $entry) }}
                        </article>
                    </div>
                    <hr class="block-separator"/>
                    <div class="message-footer">
                        <div class="message-actionBar actionBar">
                            <div class="actionBar-set actionBar-set--external">
                                <div class="actionBar-action">{$entry.likes_count} Likes</div>
                                <div class="actionBar-action">{$entry.dislikes_count} Disikes</div>
                                <div class="actionBar-action">{$entry.replies_count} Replies</div>
                            </div>
                            <div class="actionBar-set actionBar-set--internal">
                                <a href="#" class="actionBar-action" title="Like"><xf:fa icon="fa-thumbs-up"/></a>
                                <a href="#" class="actionBar-action" title="Dislike"><xf:fa icon="fa-thumbs-down"/></a>
                                <a href="#" class="actionBar-action" title="Reply"><xf:fa icon="fa-reply"/></a>
                                <a href="#" class="actionBar-action" title="Discuss"><xf:fa icon="fa-newspaper"/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
</xf:macro>

<xf:macro name="entry_block" arg-entry="!" arg-user="!" >
    <div class="feed-entry-container">
        <div class="{{ ($xf.options.showMessageOnlineStatus && $user && $user.isOnline()) ? 'message-avatar--online' : '' }}">
            <div class="message-avatar-wrapper">
                <xf:avatar user="$user" size="s" defaultname="{$fallbackName}" itemprop="image" />
                <xf:if is="$xf.options.showMessageOnlineStatus && $user && $user.isOnline()">
                    <span class="message-avatar-online" tabindex="0" data-xf-init="tooltip" data-trigger="auto"
                        title="{{ phrase('online_now')|for_attr }}"></span>
                </xf:if>
            </div>
        </div>

        <div class="message-userDetails">
            <h4 class="message-name">
                <xf:if is="$user.username">
                    <xf:username user="$user" rich="true" defaultname="{$fallbackName}" itemprop="name" />
                <xf:else />
                    {{ phrase('guest') }}
                </xf:if>
            </h4>

            <div class="block-body">
                <blockquote>{$entry.comment}</blockquote>
            </div>
        </div>
    </div>
    <hr class="block-separator" />
</xf:macro>
